<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include head partial specific for 404 error pages -->
    <%- include('../partials/404head') %>
</head>

<body>
    <!-- Container for the 404 error content -->
    <div class="container">
        <!-- Content section -->
        <div class="content">
            <!-- Main title indicating 404 error -->
            <h1>404 - Cocktail Not Found</h1>
            <!-- Message indicating the absence of the cocktail -->
            <p>Oops! Looks like this cocktail is not on the menu.</p>
            <!-- Link to navigate back to the main page -->
            <a href="/" class="back-link">Let's go back to the Bar</a>
        </div>
        <!-- Image container for visual appeal -->
        <div class="image-container">
            <!-- Image of a cocktail for visual representation -->
            <img src="/imgs/cocktail5.jpg" alt="Cocktail Image">
        </div>
    </div>
</body>

</html>
