<div class="footer-content">
    <!-- About Us section -->
    <div class="footer-section about">
        <h2>About Us</h2>
        <p>Get Lit.</p>
    </div>

    <!-- Contact Us section -->
    <div class="footer-section contact">
        <h2>Contact Us</h2>
        <p>Email: getlitty@litemails.co.lit</p>
        <p>Phone: +234 0703 496 4183</p>
        <p>Operating Hours: 24/7 "it's always happy hour somewhere!</p>
    </div>

    <!-- Quick Links section -->
    <div class="footer-section links">
        <h2>Quick Links</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/cotd">Cocktail of The Day</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</div>

<!-- Footer bottom section with copyright notice -->
<div class="footer-bottom">
    <p>&copy; 2024 Get Lit. All rights reserved.</p>
</div>
