<!-- Character encoding meta tag -->
<meta charset="UTF-8" />

<!-- Meta tag for specifying the rendering mode for Internet Explorer -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Meta tag for responsive design, ensuring proper rendering on various devices -->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<!-- Link to the stylesheet for styling the page -->
<link rel="stylesheet" href="/style.css" />

<!-- Title of the webpage -->
<title>Get Lit</title>

<!-- Script tag for importing jQuery library from Google CDN -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Script tag for importing finalScript.js for additional functionality -->
<script src="/finalScript.js"></script>
